.main_list_products {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);  
    gap: 20px;  
    padding: 20px;
    background-color: #f5f5f5; 
}

body {
    background-color: #f5f5f5; 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.product_div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
    border: 1px solid black;
    background: white;
    height: 95%;
}

.product_div1:hover {
    transform: translateY(-5px); 
}

.product_img {
    width: 200px;  
    height: 200px; 
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: cover; 
}

.product_header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.product_description, .product_stock {
    color: black;
    font-size: 16px;
    text-align: center;
}

.product_div2 {
    margin-top: 20px;
    width: auto;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: #f5f5f5; 
}

.sort_div, .name_div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    border-radius: 24px;
    padding: 8px 15px;
    background: white;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    transition: box-shadow 0.2s ease-in-out;
}

.name_div {
    margin-bottom: 10px;
}

.sort_select {
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    color: #202124;
    padding: 5px;
}

.addCart {
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    background: black;
    color: white;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 95%;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

@media (max-width: 1024px) {
    .main_list_products {
        grid-template-columns: repeat(2, 1fr);
    }

    .product_img {
        width: 150px; 
        height: 150px; 
    }

    .product_header {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .main_list_products {
        grid-template-columns: 1fr;
    }

    .product_img {
        width: 100%; 
        height: auto; 
    }

    .product_header {
        font-size: 14px; 
    }

    .product_description, .product_stock {
        font-size: 14px;
    }

    .sort_div, .name_div {
        padding: 5px;
    }

    .sort_select {
        font-size: 14px;
    }
}